/* About.module.css */


  
  .aboutTitle {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
    position: absolute;
    left: 630px;
  }
  
  .aboutText {
    position: absolute;
    top: 1100px;
    color: #555;
    font-size: 1.2rem;
    padding: 20px;
    line-height: 1.6;
  }
  