.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #ffffff;
    width: 1512px;
    height: 626px;
    position: relative;
}

.desktop .element {
    position: absolute;
    width: 222px;
    height: 213px;
    top: 102px;
    left: 637px;
    object-fit: cover;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.desktop .overlapgroup {
    position: absolute;
    width: 717px;
    height: 121px;
    top: 388px;
    left: 389px;
    background-color: #de1919;
}

.desktop .textwrapper {
    position: absolute;
    width: 652px;
    top: 16px;
    left: 65px;
    font-family: "Inter-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .untitled {
    position: absolute;
    width: 93px;
    height: 86px;
    top: 17px;
    left: 0;
    object-fit: cover;
}
