/* Departments.module.css */


  
  .announcementTitle {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
    position: absolute;
    left: 630px;
  }
  
  .announcementText {
    color: #555;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  