.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1512px;
    height: 1003px;
    position: relative;
  }
  
  .desktop .overlapgroup {
    position: absolute;
    width: 1587px;
    height: 736px;
    top: 255px;
    left: 0;
  }
  
  .desktop .upfrontresilient {
    position: absolute;
    width: 1512px;
    height: 687px;
    top: 49px;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .rectangle {
    position: absolute;
    width: 1587px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: #75e4ae;
  }
  
  .desktop .textwrapper {
    position: absolute;
    top: 18px;
    left: 13px;
    font-family: "Inter-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .textwrapper2 {
    position: absolute;
    width: 181px;
    top: 18px;
    left: 128px;
    font-family: "Inter-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .rd {
    position: absolute;
    width: 122px;
    top: 18px;
    left: 309px;
    font-family: "Inter-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .textwrapper3 {
    position: absolute;
    width: 237px;
    top: 18px;
    left: 464px;
    font-family: "Inter-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .textwrapper4 {
    position: absolute;
    width: 195px;
    top: 18px;
    left: 701px;
    font-family: "Inter-MediumItalic", Helvetica;
    font-weight: 500;
    font-style: italic;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .element {
    position: absolute;
    width: 148px;
    height: 154px;
    top: 42px;
    left: 423px;
    object-fit: cover;
  }
  
  .desktop .istockphoto {
    position: absolute;
    width: 222px;
    height: 141px;
    top: 42px;
    left: 1290px;
    object-fit: cover;
  }
  
  .desktop .pes {
    position: absolute;
    width: 190px;
    height: 160px;
    top: 43px;
    left: 942px;
    object-fit: cover;
  }
  
  .desktop .textwrapper5 {
    position: absolute;
    width: 298px;
    top: 80px;
    left: 602px;
    transform: rotate(0.23deg);
    font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
    font-weight: 400;
    color: #141451;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .elementemergency {
    position: absolute;
    width: 211px;
    height: 194px;
    top: 45px;
    left: 13px;
    object-fit: cover;
  }
  
  .desktop .rectangle .signin{
    height: 50px;
    width: 150px;
    top: 10px;
    position: absolute;
    left: 1295px;
    background-color: rgb(32, 163, 239);
    border-radius: 5px;
  }   
