/* Contact.module.css */


  
  .contactTitle {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
    position: absolute;
    left: 630px;
  }
  
  .contactText {
    white-space: pre-line;
    color: #100e0e;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 20px;
    position: absolute;
    top: 1100px;
  }
  