/* src/Login.module.scss */
.loginContainer {
  max-width: 340px;
  margin: 0 auto;
  padding: 20px;
  
  text-align: center;
  
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.registerButton {
  margin-top: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  text-align: center;
}

.registerButton:hover {
  background-color: #2980b9;
}