/* Rad.module.css */

  .radTitle {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
    position: absolute;
    left: 630px;
  }
  
  .radText {
    color: #555;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 20px;
    position: absolute;
    top: 1100px;
  }
  